data/
Домашнее задание к занятию 5/terraform/

# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars
authorized_key.json

ansible/
venv/
my_own_namespace/
